#year{
	font-size: 20px;
	width: 100%;
	height:auto;
	padding: 50px;
	background-color:purple;
	border-collapse: bottom;
}

.award_group{
	margin-top: 25px;
}

.mt-0{
	text-align:center;
}

.container{
	max-width: 100% !important;
}