body{
	background-color:#F4F4F4;
}

.mr-3{
	display:block;
	width: 100%;
	height: auto;
	border-radius: 50%
}

hr{
	background-color: #C0B283;
}

.mylogo{
	width: auto;
	vertical-align: middle;
	height:auto;
}

.jumbotron{
	background-color: #F4F4F4;
	background-repeat: no-repeat;
	background-size: cover;
	color:#373737;
}

.between{
	background-color: #373737;

}

.portfolio_pic{
	display: inline-block;
	width:18.75em;
	height:20em;
}

#profile_pic{
	border-radius: 50%;
}

.mt-0{
	width:100%;
	text-align:center;
}

#icon_des{
	text-align:center;
	width:100%;
	height:auto;
	margin-bottom: 10px;
}

.btn.btn-primary{
	display: block;
	width:100%;
	background-color: #DCD0C0;
	color:#373737;
	border-color: #C0B283

}

#bio_btn{
width:80% !important;
margin: 0 auto;
}

.btn.btn-primary:hover{
	background-color: #C0B283;
	color:#F4F4F4;
	border-color:#373737;
}

#bio_btn:hover{
	background-color: #C0B283;
	color:#373737;
	border-color:#C0B283;
}

.container{
	background-color: #F4F4F4;
}

.projects{
	background-color:#373737;
	color: #DCD0C0;
}

h1{
	padding-top:10px;
}

hr{
	color:#C0B283;
}

nav.navbar{
	background-color: #DCD0C0 !important;
}

nav ul{
	position: absolute !important;
	right:10px !important;
}

.nav-link{
	color:#373737 !important;
}

.dropdown-menu{
	background-color: #C0B283;
	color: #F4F4F4;
	border-color: #373737 ;
	left:-80px;
}

.dropdown-item{
	color:#373737;
}

#projects_head{
	color:#373737 !important;
}

.card{
	background-color: #373737;
	color:#DCD0C0;
	border-color: #C0B283;
}

.card:hover{
	background-color: #C0B283 ;
	color:#373737;
	border-color:#DCD0C0 ;
}

.footer_div{
	display: block;
	float: left;
}

footer{
	background-color:#C0B283;
	position:absolute;
	width:100%;
	height:auto;
}

footer ul li{
	display:inline-block;
	list-style:none;
	padding:2%;
	float:right;
}

footer p{
	float:left;
	padding:2%;
	display: inline-block;
}

footer img{
	margin-top: 20px;
	float:left;
	display:inline-block;
	height: 60px;
}

footer a, footer p{
	color:#fff;
	vertical-align:middle;
}

footer a:hover{
	color: #373737;
}